.gaopanel {
    border-radius: 25px;
    
    animation: popoutFade 1.5s ease-out forwards;
    box-shadow: 0px 4px 16px #000000;
  }

  .title  {
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif; /* Fallback fonts */
    font-weight: bold;
    color: #FFFFFF; /* Hex color value */
    line-height: 100%;
    text-shadow: 4px 4px 4px #003399; /* Modernized shadow */
    height: 40px;
    width: 100%;
}

  
  @keyframes popoutFade {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
body
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
